<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Class</th>
      <th>Images</th>
      <th>Labels</th>
      <th>P</th>
      <th>R</th>
      <th>mAP@.5</th>
      <th>mAP@.5:.95</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>all</td>
      <td>1494</td>
      <td>1421</td>
      <td>0.739</td>
      <td>0.088</td>
      <td>0.088</td>
      <td>0.033</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Raccoon</td>
      <td>1494</td>
      <td>3</td>
      <td>1.000</td>
      <td>0.000</td>
      <td>0.000</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>bear</td>
      <td>1494</td>
      <td>24</td>
      <td>1.000</td>
      <td>0.000</td>
      <td>0.000</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>buffalo</td>
      <td>1494</td>
      <td>317</td>
      <td>0.308</td>
      <td>0.199</td>
      <td>0.158</td>
      <td>0.100</td>
    </tr>
    <tr>
      <th>4</th>
      <td>bycicle</td>
      <td>1494</td>
      <td>9</td>
      <td>1.000</td>
      <td>0.000</td>
      <td>0.004</td>
      <td>0.001</td>
    </tr>
    <tr>
      <th>5</th>
      <td>car</td>
      <td>1494</td>
      <td>8</td>
      <td>1.000</td>
      <td>0.000</td>
      <td>0.001</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>cow</td>
      <td>1494</td>
      <td>30</td>
      <td>1.000</td>
      <td>0.000</td>
      <td>0.026</td>
      <td>0.014</td>
    </tr>
    <tr>
      <th>7</th>
      <td>deer</td>
      <td>1494</td>
      <td>2</td>
      <td>0.122</td>
      <td>0.500</td>
      <td>0.495</td>
      <td>0.050</td>
    </tr>
    <tr>
      <th>8</th>
      <td>dog</td>
      <td>1494</td>
      <td>94</td>
      <td>1.000</td>
      <td>0.000</td>
      <td>0.008</td>
      <td>0.002</td>
    </tr>
    <tr>
      <th>9</th>
      <td>eagle</td>
      <td>1494</td>
      <td>2</td>
      <td>1.000</td>
      <td>0.000</td>
      <td>0.001</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>elephant</td>
      <td>1494</td>
      <td>15</td>
      <td>0.404</td>
      <td>0.400</td>
      <td>0.392</td>
      <td>0.233</td>
    </tr>
    <tr>
      <th>11</th>
      <td>gaur</td>
      <td>1494</td>
      <td>241</td>
      <td>1.000</td>
      <td>0.000</td>
      <td>0.072</td>
      <td>0.033</td>
    </tr>
    <tr>
      <th>12</th>
      <td>otherentities</td>
      <td>1494</td>
      <td>305</td>
      <td>0.023</td>
      <td>0.000</td>
      <td>0.010</td>
      <td>0.003</td>
    </tr>
    <tr>
      <th>13</th>
      <td>person</td>
      <td>1494</td>
      <td>310</td>
      <td>0.229</td>
      <td>0.217</td>
      <td>0.150</td>
      <td>0.059</td>
    </tr>
    <tr>
      <th>14</th>
      <td>tiger</td>
      <td>1494</td>
      <td>39</td>
      <td>1.000</td>
      <td>0.000</td>
      <td>0.000</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>wolf</td>
      <td>1494</td>
      <td>22</td>
      <td>1.000</td>
      <td>0.000</td>
      <td>0.005</td>
      <td>0.003</td>
    </tr>
  </tbody>
</table>